[CONFIGURATION]
output_file = kg_output.nt
output_format = N-TRIPLES
na_values = ,#N/A,#N/A N/A,#NA,-1.#IND,-1.#QNAN,-NaN,-nan,1.#IND,1.#QNAN,<NA>,N/A,NA,NULL,NaN,None,n/a,nan,null

[DataSource1]
mappings: kg_mapping.rml.ttl